.footer {
    background-color: #4b73b5;
}
.footer__container {
    min-height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto Light";
    line-height: 1.5em;
}
.footer__text-author, .footer__text-link {
    font-weight: 700;
    color: inherit;
}