.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.partners__logo {
    width: calc(100%/3);
    margin-bottom: 46px;
    filter: grayscale(100%);
}
.partners__logo:hover {
    filter: grayscale(0%);
}
.partners__img {
    max-width: 100%;
    max-height: 100%;
}
.partners {
    margin-bottom: 52px;
}
.partners__link {
    display: flex;
    justify-content: center;
}