.social__text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 9px;
}
.social__item {
    width: 20px;
    height: 20px;
    background-color: #d2def3;
    border-radius: 50%;
    position: relative;
}
.social__list {
    display: flex;
    justify-content: space-between;
}
.social__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social__item:hover {
    background-color: #ffffff;
}